sentiment-lucene/src/main/webapp/WEB-INF/wsdl/IndexServerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.yqjk.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IndexServerService" targetNamespace="http://service.yqjk.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.yqjk.com/" schemaLocation="IndexServerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="CreateIndexServer">
    <part element="tns:CreateIndexServer" name="parameters"/>
  </message>
  <message name="CreateIndexServerResponse">
    <part element="tns:CreateIndexServerResponse" name="parameters"/>
  </message>
  <message name="GetZhuanTiCountGroupModel">
    <part element="tns:GetZhuanTiCountGroupModel" name="parameters"/>
  </message>
  <message name="GetZhuanTiCountGroupModelResponse">
    <part element="tns:GetZhuanTiCountGroupModelResponse" name="parameters"/>
  </message>
  <message name="GetZhuanTiGroup">
    <part element="tns:GetZhuanTiGroup" name="parameters"/>
  </message>
  <message name="GetZhuanTiGroupResponse">
    <part element="tns:GetZhuanTiGroupResponse" name="parameters"/>
  </message>
  <message name="GetZhuanTiCountModel">
    <part element="tns:GetZhuanTiCountModel" name="parameters"/>
  </message>
  <message name="GetZhuanTiCountModelResponse">
    <part element="tns:GetZhuanTiCountModelResponse" name="parameters"/>
  </message>
  <message name="GetZhuanTiSearchAll">
    <part element="tns:GetZhuanTiSearchAll" name="parameters"/>
  </message>
  <message name="GetZhuanTiSearchAllResponse">
    <part element="tns:GetZhuanTiSearchAllResponse" name="parameters"/>
  </message>
  <message name="SearchAll">
    <part element="tns:SearchAll" name="parameters"/>
  </message>
  <message name="SearchAllResponse">
    <part element="tns:SearchAllResponse" name="parameters"/>
  </message>
  <message name="GetMessageSearchAll">
    <part element="tns:GetMessageSearchAll" name="parameters"/>
  </message>
  <message name="GetMessageSearchAllResponse">
    <part element="tns:GetMessageSearchAllResponse" name="parameters"/>
  </message>
  <message name="GetNetSearchAll">
    <part element="tns:GetNetSearchAll" name="parameters"/>
  </message>
  <message name="GetNetSearchAllResponse">
    <part element="tns:GetNetSearchAllResponse" name="parameters"/>
  </message>
  <message name="HistoryExist">
    <part element="tns:HistoryExist" name="parameters"/>
  </message>
  <message name="HistoryExistResponse">
    <part element="tns:HistoryExistResponse" name="parameters"/>
  </message>
  <message name="GetIndexModel">
    <part element="tns:GetIndexModel" name="parameters"/>
  </message>
  <message name="GetIndexModelResponse">
    <part element="tns:GetIndexModelResponse" name="parameters"/>
  </message>
  <portType name="IndexServerDelegate">
    <operation name="CreateIndexServer">
      <input message="tns:CreateIndexServer"/>
      <output message="tns:CreateIndexServerResponse"/>
    </operation>
    <operation name="GetZhuanTiCountGroupModel">
      <input message="tns:GetZhuanTiCountGroupModel"/>
      <output message="tns:GetZhuanTiCountGroupModelResponse"/>
    </operation>
    <operation name="GetZhuanTiGroup">
      <input message="tns:GetZhuanTiGroup"/>
      <output message="tns:GetZhuanTiGroupResponse"/>
    </operation>
    <operation name="GetZhuanTiCountModel">
      <input message="tns:GetZhuanTiCountModel"/>
      <output message="tns:GetZhuanTiCountModelResponse"/>
    </operation>
    <operation name="GetZhuanTiSearchAll">
      <input message="tns:GetZhuanTiSearchAll"/>
      <output message="tns:GetZhuanTiSearchAllResponse"/>
    </operation>
    <operation name="SearchAll">
      <input message="tns:SearchAll"/>
      <output message="tns:SearchAllResponse"/>
    </operation>
    <operation name="GetMessageSearchAll">
      <input message="tns:GetMessageSearchAll"/>
      <output message="tns:GetMessageSearchAllResponse"/>
    </operation>
    <operation name="GetNetSearchAll">
      <input message="tns:GetNetSearchAll"/>
      <output message="tns:GetNetSearchAllResponse"/>
    </operation>
    <operation name="HistoryExist">
      <input message="tns:HistoryExist"/>
      <output message="tns:HistoryExistResponse"/>
    </operation>
    <operation name="GetIndexModel">
      <input message="tns:GetIndexModel"/>
      <output message="tns:GetIndexModelResponse"/>
    </operation>
  </portType>
  <binding name="IndexServerPortBinding" type="tns:IndexServerDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreateIndexServer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetZhuanTiCountGroupModel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetZhuanTiGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetZhuanTiCountModel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetZhuanTiSearchAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetMessageSearchAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetNetSearchAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="HistoryExist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetIndexModel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="IndexServerService">
    <port binding="tns:IndexServerPortBinding" name="IndexServerPort">
      <soap:address location="http://localhost:8080/LuceneIndex/IndexServerPort"/>
    </port>
  </service>
</definitions>
